@import '../../colorDefinitions.scss';
#navbar {
    width: 100vw;
    background: color(primary);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navitem {
    text-transform: uppercase;
    font-size: larger;
    color: color(text);
    cursor: pointer;
    position: relative;
    transition: .25s;
    &:before {
        margin-left: 30px;
        opacity: 0;
        position: absolute;
        bottom: -12px;
        width: 100%;
        border-bottom: 3px solid color(secondary);
        content: " ";
        transition: .25s;
        pointer-events: none;
    }
    &:hover {
        color: color(secondary);
        &:before {
            opacity: 1;
            margin-left: 0;
        }
    }
    &.selected {
        color: color(secondary);
    }
}