.skill {
    position: absolute;
    transition: transform 3s ease-in;
    z-index: 1;

    &:hover {
        z-index: 2;
    }

    & > div {
        height: 100%;
        width: 100%;
        background: #f1faee;
        transition: transform 3s ease-out, height .2s ease-out, width .2s ease-out;
        padding: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px 0px #0007;
        border-radius: 16px;
        position: absolute;
        
        &:hover {
            width: 300px;
            height: 500px;
            & img {
                height: 100px;
            }
        }
        
        & img {
            transition: all .2s ease-out;
            border-radius: 20%;
            margin: 0 auto;
        }

        & > .title {
            margin-top: 0;
            font-size: xx-large;
            text-align: center;
            margin: 16px;
            display: none;
            &.visible {
                display: block;
                animation: fadeInLeft .4s ease-out;
            }
        }

        & > .description {
            font-size: larger;
            text-align: center;
            margin: auto;
            display: none;
            white-space: pre-line;
            &.visible {
                display: block;
                animation: fadeInBottom .4s ease-out backwards;
                animation-delay: .2s;
            }
        }
    }
}